Repository tika247/flashcard: changes, and which lint-staged commands are due for each by the changed paths.
All: vlint --css, stylelint, eslint

stop hot reload and adjust current active-btn in quiz
  _md/_TODO.md
  server/modules/putWord.mjs
  src/components/QuizContents.vue
  src/components/QuizContents.vue.rej
  vue.config.js
Due: none

ok
  _md/_MEMO.md
  _md/_TODO.md
  server/modules/putWord.mjs
  src/components/ListModalA.vue
  src/components/ListModalB.vue
  src/components/ListModalC.vue
  src/components/ListPanelMode.vue
  src/components/QuizContents.vue
  src/helper/apiController.ts
Due: eslint

validate if a word is already
  .eslintrc.js
  _md/ENVIRONMENT.md
  _md/_TODO.md
  package.json
  src/@type/type.ts
  src/App.vue
  src/components/ListModalA.vue
  src/components/ListModalB.vue
  src/components/ListModalC.vue
  src/components/ListTableMode.vue
  src/components/PanelCardB.vue
  src/components/PanelCardC.vue
  src/components/QuizContents.vue
  src/helper/apiController.ts
  src/views/QuizView.vue
Due: eslint

update
  src/components/ListModalA.vue
Due: none

under developing drag
  _md/_TODO.md
  package-lock.json
  package.json
  src/@type/type.ts
  src/components/ListTableMode.vue
  src/components/ListWord.vue
  src/helper/dragController.ts
Due: eslint

drag function
  src/components/ListTableMode.vue
Due: none

fix: ListTableMode.vue
  src/components/ListPanelMode.vue
  src/components/ListTableMode.vue
  src/components/ListWord.vue
  src/components/PanelCardB.vue
  src/components/PanelCardC.vue
Due: none

fix
  src/assets/img/icon-arrow.svg
  src/assets/scss/style.scss
  src/components/HdgLevel02.vue
  src/components/LinkHome.vue
  src/components/ListContents.vue
  src/components/ListModalA.vue
  src/components/ListModalB.vue
  src/components/ListModalC.vue
  src/components/ListPanelMode.vue
  src/components/ListWord.vue
  src/components/PanelCardB.vue
  src/components/PanelCardC.vue
  src/components/PanelCardTop.vue
  src/views/HomeView.vue
  src/views/ListView.vue
  src/views/QuizView.vue
Due: none

fix: sp
  src/assets/scss/style.scss
  src/components/HdgLevel02.vue
  src/components/ListFooter.vue
  src/components/ListModalA.vue
  src/components/ListModalB.vue
  src/components/ListModalC.vue
  src/components/PanelCardA.vue
  src/components/QuizContents.vue
  src/views/HomeView.vue
  src/views/ListView.vue
  src/views/QuizView.vue
Due: none

develop
  .gitignore
  _design/flashcard.xd
  _md/_TODO.md
Due: none

change: for glitch
  .gitignore
  dist/api/api.json
  dist/css/208.07af9579.css
  dist/css/243.8482ee38.css
  dist/css/app.e3ebec1c.css
  dist/favicon.ico
  dist/img/bg-thunder-current.7f0bd304.svg
  dist/img/bg-thunder.48fc3261.svg
  dist/img/icon-add.556a037a.svg
  dist/img/icon-close.a5116c3b.svg
  dist/img/icon-done.081f7da9.svg
  dist/img/icon-edit.a67bbef0.svg
  dist/img/icon-miss.dc0e48af.svg
  dist/img/icon-next.79de886c.svg
  dist/img/icon-ok.5a58683d.svg
  dist/img/icon-remove.b7ddf98f.svg
  dist/index.html
  dist/js/208.4e2e6ac9.js
  dist/js/208.4e2e6ac9.js.map
  dist/js/243.10b263b8.js
  dist/js/243.10b263b8.js.map
  dist/js/app.1de2f991.js
  dist/js/app.1de2f991.js.map
  dist/js/chunk-vendors.feadf89d.js
  dist/js/chunk-vendors.feadf89d.js.map
Due: vlint --css

adjust
  .gitignore
  package.json
Due: none

adjust
  .gitignore
  package.json
  public/api/api.json
Due: none

change for glitch
  package.json
Due: none

develop
  dist/css/208.07af9579.css
  dist/css/243.8482ee38.css
  dist/css/app.e3ebec1c.css
  dist/index.html
  dist/js/208.4e2e6ac9.js
  dist/js/208.4e2e6ac9.js.map
  dist/js/243.10b263b8.js
  dist/js/243.10b263b8.js.map
  dist/js/app.1de2f991.js
  dist/js/app.1de2f991.js.map
  dist/js/chunk-vendors.feadf89d.js
  dist/js/chunk-vendors.feadf89d.js.map
Due: vlint --css

develop: for Glitch
  .gitignore
  dist/css/310.0559773d.css
  dist/css/80.61d24eed.css
  dist/css/app.242ef915.css
  dist/img/icon-arrow.b9b361df.svg
  dist/index.html
  dist/js/310.c4a3324d.js
  dist/js/310.c4a3324d.js.map
  dist/js/80.b4295204.js
  dist/js/80.b4295204.js.map
  dist/js/app.89e3e768.js
  dist/js/app.89e3e768.js.map
  dist/js/chunk-vendors.793b39a5.js
  dist/js/chunk-vendors.793b39a5.js.map
  public/index.html
Due: vlint --css

Path conditions:
  vlint --css: any of: dist/**/*.css
  stylelint: any of: dist/**/*.scss
  eslint: any of: src/**/*.ts
